<nav id="main-nav" class="top-bar">
	<div class="top-bar-left  main-nav__left">
		<a href="index.html" class="main-nav__logo" title="Ir al Inicio">
			<img src="images/logos/contigo-siempre-logo.png" alt="Logo Header">
		</a>
	</div>
	<!-- end .main-nav__left -->

	<div class="top-bar-right  main-nav__right">
		<ul class="menu  main-nav__menu">
			<li class="main-nav__menu-item">
				<a href="beneficios.html" class="main-nav__menu-anchor" title="Beneficios Programa">Beneficios Programa</a>
			</li>
			<!-- end .main-nav__menu-item -->

			<li class="main-nav__menu-item">
				<a href="diabetes.html" class="main-nav__menu-anchor" title="Diabetes">Diabetes</a>
			</li>
			<!-- end .main-nav__menu-item -->

			<li class="main-nav__menu-item">
				<a href="alimentacion.html" class="main-nav__menu-anchor" title="Alimentación">Alimentación</a>
			</li>
			<!-- end .main-nav__menu-item -->

			<li class="main-nav__menu-item">
				<a href="#" class="main-nav__menu-anchor" title="Comunidad">Comunidad</a>
			</li>
			<!-- end .main-nav__menu-item -->

			<li class="main-nav__menu-item">
				<a href="blog.html" class="main-nav__menu-anchor  main-nav__menu-anchor--last" title="Blog">Blog</a>
			</li>
			<!-- end .main-nav__menu-item -->
		</ul>
		<!-- end .main-nav__menu -->

		<img src="images/logos/banmedica-logo.png" class="main-nav__image" alt="Logo Banmedica">
		
		<a href="#" class="button  tiny  radius  red  main-nav__button" title="Inscribirme">Inscribirme</a>
	</div>
	<!-- end .main-nav__right -->
</nav>
<!-- end #main-nav -->